:root{
  --main-background: rgb(28, 27, 34);
  --main-foreground: #eee;
  --toolbar-border: #4a4a4b;
  --toolbar-box-shadow: black;
  --toolbar-button-hover: var(--grey-90-a30);
  --toolbar-button-active: var(--grey-90-a80);
  --popup-button-active: hsla(0,0%,70%,.6);
  --popup-bgcolor: rgb(66,65,77);
  --popup-button: #5c5c61;
  --popup-line: rgb(82, 82, 94);
  --selected-background: #3E6D9A;
  --link-foreground: #45a1ff;
  --visited-link-foreground: #e675fd;
  --link-selected-foreground: #fff;
  --opaque-popup-border: #434146;
  --font-value-border: #656468;
  --font-color: #fff;
  --icon-fill: #fff;
  --icon-disabled-fill: #ffffff66;
  --tooltip-background: black;
  --tooltip-foreground: white;
  --item-list-active-background: #3B3948;
}

body {
  background-color: var(--main-background);
  color: var(--main-foreground);
  font-family:  Helvetica, Arial, sans-serif; 
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

code, pre {
  color: var(--main-foreground);
}

a, a:hover {
  color: var(--link-foreground);
}

.navbar{
  background-color: #181920;
}

.navbar-brand,.navbar-brand:focus, .navbar-brand:hover {
  color: #fff;
}
.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,.75);
}
.navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}

.form-control {
  background-color: #343a40;
  border: 1px solid #343a40;
  border-radius: 0.1rem;
  color: var(--icon-disabled-fill);
}

.form-control:focus {
  color: #fff;
  background-color: #343a40;
  border: 2px solid #8b8e92;
  outline: 0;
  box-shadow: unset;
}

.list {
  text-align: left;
  margin: auto;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand p {
  margin-bottom: 0;
}

.logo {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background: url(icons/logo.svg);
  background-size: 50px 50px;
}

.submit-form {
  max-width: 80%;
  margin: auto;
}

.list-group-item.active {
  background-color: var(--main-background);
  color: var(--main-foreground);
}

.list-group-item:first-child,
.list-group-item:last-child,
.list-group-item.active,
.list-group-item + .list-group-item.active,
.list-group-item + .list-group-item {
  margin-top: 0px;
  border: 1px solid var(--toolbar-border);
  border-radius: 6px;
  
}
.list-group-item {
  border: 1px solid var(--toolbar-border);
  border-radius: 6px;
  word-wrap:break-word;
  background-color: var(--main-background);
  margin-inline-start: max(calc(50% - 17px - var(--inline-padding)), calc(100% - 96px - 34px - 2 * var(--inline-padding)));
  list-style: none;
  user-select: none; 
  margin-bottom: 20px;
}

.edit-form {
  max-width: 80%;
  margin: auto;
}

h4.article-item {
  cursor: pointer;
}
h4.article-item:hover {
  color: #fff;
}

.article-metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 5px;
}

.article hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(128, 128, 128);
  margin: 1em 0; 
  padding: 0;
}

.icons-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  margin-right: 5px;
  background-color: #343a40;
  cursor: pointer;
  mask-size: cover !important;
  -webkit-mask-size: cover !important;
}
.icon.true {
  background-color: #6f7022;
}
.icon:hover {
  background-color: var(--popup-button-active);
}
.icon.true:hover {
  background-color: #9fa11d;
}
.star {
  mask: url(icons/star.svg) no-repeat 50% 50%;
  -webkit-mask: url(icons/star.svg) no-repeat 50% 50%;
}
.archive {
  mask: url(icons/archive.svg) no-repeat 50% 50%;
  -webkit-mask: url(icons/archive.svg) no-repeat 50% 50%;
}
.tag-plus {
  mask: url(icons/tag-plus.svg) no-repeat 50% 50%;
  -webkit-mask: url(icons/tag-plus.svg) no-repeat 50% 50%;
}
.tag {
  mask: url(icons/tag.svg) no-repeat 50% 50%;
  -webkit-mask: url(icons/tag.svg) no-repeat 50% 50%;
}
.trash-can {
  mask: url(icons/trash-can.svg) no-repeat 50% 50%;
  -webkit-mask: url(icons/trash-can.svg) no-repeat 50% 50%;
}

.tag-list {
  display: flex;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none;
  max-width: 50%;
}
.tag-list::-webkit-scrollbar {
  display: none;
}
.tags-item {
  display: flex;
  align-items: center;
  margin-left: 7px;
  white-space: nowrap;
  color: var(--icon-disabled-fill);
}
.tags-item .tag {
  width: 19px;
  height: 19px;
  background-size: 19px 19px;
  margin-right: 1px;
  cursor: auto;
  background-color: var(--icon-disabled-fill);
}
.tags-item span{
  display: inline-block;
}

.divisor-block{
  display: flex;
  align-items: center;
  color: #535455;
  justify-content: space-between;
}

.divider {
  display: inline-block;
  border-bottom: #535455 1px solid;
  width: 350px;
  margin: 30px;
}

.session-box {
  margin: auto;
}

.loading {
  margin: auto;
}

.login-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-options button{
  max-width: max-content;
}

.dropdown-menu  {
  color: #dee2e6;
  background-color: #343a40;
  border-color: rgba(0,0,0,.15);
}

.dropdown-item {
  color: #dee2e6;
}

.dropdown-item:focus, .dropdown-item:hover {
  text-decoration: none;
  color: #fff;
  background-color: hsla(0,0%,100%,.15);
}

.dropdown-divider {
  border-color: rgba(0,0,0,.15);
}

.page {
  word-wrap: break-word;
}

.lds-facebook {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #727F8C;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
